nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    
}


nav ul li {
    padding: 0.5rem 1rem;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
}

nav ul li a:hover{
    color:white;
    background-color: black;
}

.logo{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.banner{
    margin-top: 1rem;
    display: flex;
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
}

.banner-content {
    flex: 1;
    font-size: 2rem;
    padding: 1rem;
}

.banner-content h1{
    text-transform: uppercase;
}

button {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;

}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.banner-image{
    flex: 1;
}
.banner-image img{
    width: 100%;
    border-radius: 0.5rem;
}

